* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed;

}

.header {
    width: 100vw;
    height: 200px;
    background-color: #4a1d73;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 50px;
    color: #b9b4bd;
    font-family: Roboto Condensed;

}