.navbars {
    background-color: #10031d;
    color: #f0f8ff;
    height: 36px;
    display: flex;
    align-items: center;


}

ul {
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 875px;
    cursor: pointer;

}