.container {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

}

.subtitle {
    font-size: 20px;
    color: #000000;
    font-family: 'Poppins' sans-serif;

}